#{extends 'main.html' /}
#{set title:"&{'system.title'}" /}

<div>
    <div class="plain-text">
		<h1>&{'system.title'}</h1>
		<p>
		    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat
		    velit non ante commodo euismod. Curabitur facilisis commodo lectus, ut
		    scelerisque sapien. In sed massa vitae mi suscipit rhoncus id non
		    purus. Nunc malesuada nulla vel justo molestie viverra. Pellentesque
		    molestie commodo facilisis. Pellentesque tempor accumsan leo sit amet
		    egestas. Nam dui nunc, commodo ut bibendum id, faucibus nec orci. <br>
		    <br> Curabitur sit amet luctus risus, non ornare libero. Integer
		    faucibus lacus at dapibus mollis. Nam nisi ante, cursus at placerat a,
		    hendrerit nec velit. Nullam in turpis in ante eleifend faucibus sed
		    placerat lacus. Vestibulum massa leo, feugiat a est eu, interdum
		    rhoncus sapien. Suspendisse hendrerit erat eget dignissim venenatis.
		    Donec volutpat libero quis arcu pharetra luctus. Nulla sit amet egestas
		    mi, id aliquet orci. Donec nibh leo, luctus in commodo ac, lacinia a
		    odio. Sed faucibus tempor semper. Nullam commodo risus sit amet elit
		    tincidunt, at elementum metus porttitor. Integer quis pretium mauris,
		    nec elementum eros. Duis eu orci at nunc pretium porttitor. Proin
		    cursus ipsum eget arcu cursus consequat.
		</p>
    </div>
</div>