#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

<div id="crudList" class="${type.name}">

    <h2 id="crudListTitle">&{'crud.list.title', type.name}</h2>

    <div id="crudListSearch">
        #{crud.search /}
    </div>

    <div id="crudListTable">
        #{crud.table fields:['date', 'latitude', 'longitude', 'speed', 'positionSense', 'bus'] }
            #{crud.custom 'date'}
			    <a href="@{register.PositionController.show(object.id)}">${object.date.format()}</a>
			#{/crud.custom}
			#{crud.custom 'positionSense'}
                ${play.i18n.Messages.get(object.positionSense)}
            #{/crud.custom}
        #{/crud.table}
    </div>

    <div id="crudListPagination">
        #{crud.pagination /}
    </div>

    <p id="crudListAdd">
        <a href="@{blank()}">&{'crud.add', type.modelName}</a>
    </p>

</div>
