<!DOCTYPE html>
<html>
    <head>
        <title>&{'system.title'}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/crud.css'}" />
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}" />
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		<div id="header">
		    <div id="logo">
		       <a href="@{HomeController.index()}"><span>&{'system.name'}</span></a>
		    </div>
		    <ul id="tools">
		        <li>
		            <a href="@{Secure.logout()}">&{'secure.log.out'}</a>
		        </li>
		    </ul>
		</div>
		<div id="main">
		    <ul id="adminMenu">
		        <li class="${request.controller == 'register.ItineraryController' ? 'selected' : ''}">
		            <a href="@{register.ItineraryController.list}">&{'ItineraryController'}</a>
		        </li>
	            <li class="${request.controller == 'register.BusController' ? 'selected' : ''}">
	                <a href="@{register.BusController.list}">&{'BusController'}</a>
	            </li>
	            <li class="${request.controller == 'register.PositionController' ? 'selected' : ''}">
	                <a href="@{register.PositionController.list}">&{'PositionController'}</a>
	            </li>
		    </ul>
		    #{doLayout /} 
		</div>
		<p id="footer">
		    &{'system.footer'}
		</p>
    </body>
</html>
